<article class="bg-hn-surface rounded border border-hn-border p-4 my-4">
  <app-post-header
    [post]="post()"
    [isWrapped]="isWrapped()"
    [isLikedByCurrentUser]="isLikedByCurrentUser()"
    (toggleWrap)="toggleWrap()"
  />

  @if (!isWrapped()) {
    <app-post-body [post]="post()" />

    <app-post-actions
      [post]="post()"
      [isLikeLoading]="isLikeLoading()"
      [isLikedByCurrentUser]="isLikedByCurrentUser()"
      [isCommentsOpen]="isCommentsOpen()"
      (toggleLike)="toggleLike()"
      (toggleComments)="toggleComments()"
    />

    @if (isCommentsOpen()) {
      <app-post-comments [post]="post()" />
    }
  }
</article>
